* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    position: relative;
    float: left;
    left: 50%;  
}
.item1,
.item2 {
    display: inline-block;
    position: relative;
    right: 50%;
    margin-top: 15%;
    overflow: hidden;
    border: 10px solid blue;
    border-radius: 3px;
    height: 300px;
}
.item2 {
    left: -436px;
}
img {
    width: 400px;
    height: 300px;
    transition: all 1s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    
}
img:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    
}
h2,
a {
    position: absolute;
}
h2 {
    top: 100px;
    margin-left: 40px;
    margin-right: 50px;
    color: white;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: white;
    top: 180px;
    left: 40px;
}


